<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div th:switch="${patientList}">
    <h2 th:case="null"> Error! No patients found!</h2>
    <div th:case="*">
        <h2>Patients</h2>
        <table><!---->
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Disease</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patientList}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.disease}"></td>

                <td><a th:href="@{patient-update/{id}(id=${patient.id})}">Edit</a></td>
                <td><a th:href="@{patient-delete/{id}(id=${patient.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/patient-create">Create patient</a></p>
</div>
</body>
</html>